@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
  /* theme fonts */
  --font01: "Open Sans", Arial, 'Trebuchet MS';
  /* theme colors */
  --primary-color: rgb(225, 113, 0);
  --primary-dark: rgb(185, 93, 0);
  --secondary-color: #5c83c4;
  --secondary-dark: #1a3b70;
  --secondary-darker: #11224e;
  --background-color: #585858;
  --background-test-color: #353535;
  --color: white;
  /* standard header/footer height */
  --header-height: 90px;
  --header-landscape-height: 80px;
  --footer-height: 60px;
  --footer-landscape-height: 60px;
}

/*********************** COMMON ***********************/
/******************************************************/

body {
  font-family: var(--font01);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  overflow: hidden;
  color: var(--color);
}

.content {
  max-width: 1100px;
  min-width: 345px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  height: var(--header-height);
  margin: 10px 10px 0px 10px;
  background-image: url("../../images/background-image-02.png");
  background-position: center;
  background-size: cover;
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header-container h1 {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  text-shadow: 1px 1px #424242;
}

.header-container img {
  width: 75px;
  border-radius: 8px;
  /*
    taken from one of the examples 
    of getcssscan.com/css-box-shadow-examples
  */
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: .4s;
}

.footer {
  height: var(--footer-height);
  margin: 0px 10px 10px 10px;
  background-image: url("../../images/background-image-03.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: var(--secondary-darker);
  margin: 0;
  font-size: 0.6em;
}

.footer p {
  text-decoration: none;
  color: var(--secondary-darker);
  margin: 0;
  font-size: 0.8em;
}

.header-type {
  box-sizing: border-box;
  background-color: var(--primary-color);
  border-radius: 7px;
  padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #16202c;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-dark);
}

/******************* PAGE SPECIFIC ********************/
/******************************************************/

main {
  background-image: url("../../images/background-image-01.png");
  background-position: center;
  background-size: cover;
  margin: 0px 20px;
  /* generated from cssgradient.io using theme colors */
  /* background: rgb(2, 7, 11); */
  /* background: linear-gradient(167deg, 
    rgba(2, 7, 11, 0.9) 0%, 
    rgba(22, 32, 44, 0.9) 35%, 
    rgba(51, 71, 101, 0.9) 100%
  ); */

  box-sizing: border-box;
  height:
    calc(100vh - var(--header-height) - var(--footer-height) - 20px);
  padding: 10px;
}

/**********/
/* HEADER */
/**********/
.main-header h2 {
  font-size: 1.1em;
  margin: 0 10px;
  text-align: center;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  height: calc(100% - 65px);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  padding-bottom: 10px;
}

.main-content h3 {
  font-size: 18px;
  margin: 20px 10px 10px 10px; 
}

.main-content h3 a {
  text-decoration: none;
}

hr {
  margin: 5px 5px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to left, 
    transparent, rgb(33, 55, 180),
    transparent)
  ;
}

.main-footer p {
  margin: 0 10px;
  font-size: 12px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section img {
  width: 95%;
  border-radius: 7px;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  height: 120px;
  background-color: rgba(255, 255, 255, 1);
  color: #353535;
  border-radius: 7px;
  margin: 10px 0;
}

.divider p {
  font-size: 0.8em;
  margin: 0px 20px 25px 20px;
}