@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
  --font01: "Open Sans", Arial, 'Trebuchet MS';
}




body {
  font-family: var(--font01);
  margin: 0;
  padding: 0;
}